body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

h1 {
  color: black;
  text-align: center; 
}

body nav a{
  padding-left: 10px;
  padding-right: 10px;
  background: cadetblue;
  text-align: center;
}

nav {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

section figcaption {
  text-align: center;
  font-size: small;
}

section#details div {
  float: left;
  background-color: cadetblue;
  width: 25%;
  text-align: center;
  
}